.homepage {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
}
.homepage header {
    padding: 1em;
}

.homepage header img {
    display: inline-block;
    border-radius: 50%;
    padding-left: 8em;
    width: 2em;
    align-content: 
}

.homepage header h1 {
    display: inline-block;
    color: #3a3a3a;
    font-size: 2em;
}

nav {
    list-style-type: none;
    display: block;
    padding-left: 9em;
    overflow: hidden;
    background-color: #ededed;
    width: 100%;
}

nav a{
    float: left;
    color: #3a3a3a;
    text-align: center;
    text-decoration: none;
    padding: 1em;

}

nav a:hover {
    background-color: #b7b7b7;
    color: white;
}

.homepage body{
   max-width: 100%; 
}

.hello img {
    display: block;
    width: 100%;
    height: auto;
}
.hello {
    position: relative;
    display: inline-block;
    background-image: url(marble.jpg);
    background-position: top;
    background-attachment: fixed, scroll, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, cover, auto;
    height: 100%;
    
    font-size: 100%;
    padding: 4em;
}

.hello h2{
    font-size: 4em;
    font-family: 'Vidaloka', serif;
    padding-left: 2em;
}

.hello p{
    font-size: 1em;
    padding-left: 7em;
        
}

.homepage .about {
    padding-left: 11em;
    padding-top: 2em;
}

.homepage .row:after{
    
}
.homepage .row::after{
	clear: both;
	content: “”;
	display: block;
	overflow: auto;
}

.homepage .about img {
    width: 50%;
    float: right;
    padding-top: 2em;
}


.homepagefoot{
    text-decoration: none;
    text-align: center;
    font-size: .8em;
	clear: both;
	content: “”;
	display: block;
	overflow: auto;
    padding-top: 5em;
}

/*Resume CSS Below*/

.resume {
    font-family: Helvetica;
    color: white;
    font-family: 100%;
}
    
.resume {
    background-color: #f7cac9;
    width: 75%;
    font-size: 1em;
}

.mackenziehusmann {
    padding: 1em;;
    color: white;
    text-align: left;
    font-size: 3em;
    width: 100%;
    text-shadow: 2px 2px #FF0000;
    
}

.resbod{
    padding-left: 2em;
}
.resbod h2 {
    margin-left: 1em;
}

.resbod h3 {
    margin-left: 2em;
}

.resbod p {
    margin-left: 2em;
    float: clear;
}
.resbod a {
    text-decoration: none;
    color: #f87875;
}
.resbod ul {
    list-style-type: none;
}

.resbod footer {
    text-align: left;
    margin-left: 2em;
    margin-top: 2em;
    color: #e0b4b3;
}

/*My Favorite Places*/

.places {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    background-color: #f5ede1;
    color: white;
    

}

.places header {
    font-size: 2em;
    margin: 2em;
    background-color: tan;
    color: white;
    padding: 2em;
}

.places h1{
    background-color: #256238;
    padding: 1em;
    color: white;
    font-size: 1em;
}

.places h2 {
    font-size: 5em;
    border: 1em black;
    padding: 1em;
}

.places {
    display: block;
    width: 100%;
    height: auto;
}

.places section {
    margin: 3em;
    padding: 1em;
    box-sizing: inherit;
}


.places h3 {
    font-size: 150%;
    padding: 1em;
}

.cle {
    background-image: url("http://www.fiveyardslant.com/wp-content/uploads/2016/03/downtown-cleveland.jpg");
    background-position: center;
    background-attachment: fixed, scroll, fixed;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%, cover, auto;
    
}

.tres {
    background-image: url("https://wa4.jetcdn.com/photos/hyatt-regency-clearwater-beach-resort-spa/N7Qs_1NZ/beach-beachfront-coast-nature.jpeg?w=970&h=600&dpr=1");
    background-position: center;
    background-attachment: fixed, scroll, fixed;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%, cover, auto;
}

.nfalls {
    background-image: url("https://tce-live2.s3.amazonaws.com/media/media/6ee4c921-2ba5-47cb-bfc5-8eebd83e3d65.jpg");
    background-position: center;
    background-attachment: fixed, scroll, fixed;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%, cover, auto;
}

.vail {
    background-image: url("http://cdn.wall-pix.net/albums/landscapes-natural/00005332.jpg");
    background-position: center;
    background-attachment: fixed, scroll, fixed;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%, cover, auto;
}

.hawaii {
    background-image: url("https://www.journeyera.com/wp-content/uploads/2016/07/hawaii-images-06080-1-e1468815827117-1080x635.jpg");
    background-position: center;
    background-attachment: fixed, scroll, fixed;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%, cover, auto;
}

.places img {
    width: 25%;
}

.places p{
    padding: 3em;
}

.places section img {
    padding: 1em;
}

/** CLEARFIX stops the floats! **/

.places .row::after {
    content: "";
    clear: both;
    display: block;}

.placesfoot{
    text-decoration: none;
    text-align: center;
    font-size: .8em;
	clear: both;
	content: “”;
	display: block;
	overflow: auto;
    padding-top: 5em;
    color: black;
}

.button {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 50%;
    margin: 2em;
}

.button:hover {
    background-color: #bebcbc;
    color: white;
}


/** Float ALL the column classes **/

[class*="col-"] {
    float: left;  }


/** Assign widths to column classes **/

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}