body {
    font-size: 100%;
}

.mackenziehusmann {
    font-size: 30px;
    padding: 20px;
    height: 150px;
    text-align: center;
    
}

h2 {
    font-family: Lucida Console;
    text-align: center;
}

h3 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    font-family: sans-serif;
}

section {
    padding: 50px;
}

.contact {
    background-color: #fae1e6;
    text-align: center;
}

.exp {
    background-color: #c3f7e5;
    text-align: left;
    width: 50%;
    height: 500px;
    padding-top: 10px;
    float: left;
}

.edu {
    background-color: #ffd8b4;
    text-align: left;
    margin-top: -18px;
    padding-right: 20px;
    width: 30%;
    height: 500px;
    float: right;
    position: relative;

}

.involve {
    background-color: #fafad5;
    text-align: left;
    width: 50%;
    height: 300px;
    padding-top: 10px;
    float: left;
}

.skills {
    background-color: #befdfd;
    text-align: left;
    padding-right: 20px;
    width: 30%;
    height: 300px;
    padding-top: 10px;
    float: right;
    position: relative;
}

footer {
    text-align:center;
    font-family: sans-serif;
    display: inline-block;
    visibility: hidden;
    
}