* {
    font-family: Helvetica;
    color: white;
}
    
body {
    background-color: #f7cac9;
    width: 75%;
    font-size: 100%;
}

.mackenziehusmann {
    padding: 40px;
    color: white;
    text-align: left;
    font-size: 50px;
    width: 100%;
    text-shadow: 2px 2px #FF0000;
    
}

/* nav bar
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

header li {
    display: inline-block;
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
} 
*/

h2 {
    margin-left: 40px;
}

h3 {
    margin-left: 40px;
}

p {
    margin-left: 40px;
}
a {
    text-decoration: none;
    color: #f87875;
}
ul {
    list-style-type: none;
}

footer {
    text-align: left;
    margin-left: 40px;
    margin-top: 70px;
    color: #e0b4b3;
}

